.CodeMirror {
  height: 340px !important;
  color: white;
}
.CodeMirror-gutters {
  background-color: #1d1e22 !important;
}
.CodeMirror-scroll {
  background-color: #1d1e22;
}
/* Add this CSS to your existing stylesheet */

/* For small screens (phones, 768px and below) */
@media only screen and (max-width: 768px) {
  .controlled-editor {
    font-size: 14px; /* Adjust font size for better readability on small screens */
  }
  .header {
    flex-direction: column;
  }
  .heading {
    padding: 9px 12px;
  }
  .close-btn {
    align-self: flex-end;
  }
}

/* For medium screens (tablets, 768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .controlled-editor {
    font-size: 16px; /* Adjust font size for better readability on medium screens */
  }
}

/* For large screens (desktops, 1024px and above) */
@media only screen and (min-width: 1024px) {
  .controlled-editor {
    font-size: 18px; /* Adjust font size for better readability on large screens */
  }
}
/* Add this CSS to your existing stylesheet */

/* For small screens (phones, 768px and below) */
@media only screen and (max-width: 768px) {
  .CodeMirror {
    height: 200px !important; /* Adjust height for small screens */
    font-size: 14px; /* Adjust font size for better readability on small screens */
  }
}

/* For medium screens (tablets, 768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .CodeMirror {
    height: 280px !important; /* Adjust height for medium screens */
    font-size: 16px; /* Adjust font size for better readability on medium screens */
  }
}

/* For large screens (desktops, 1024px and above) */
@media only screen and (min-width: 1024px) {
  .CodeMirror {
    height: 340px !important; /* Adjust height for large screens */
    font-size: 18px; /* Adjust font size for better readability on large screens */
  }
}
